:root {
    --global-font: Roboto;
    --global-size: 16px;

    --bg-opacity: 1;
    --white-color: #ffffff;
    --off-white: #ffffffad;

    --color-gray-1: #4d4747;
    --color-gray-2: #7a7a7a;
    --color-green-1: #bbeebb;
}