.landing-page {
    width: 100%;
    margin: auto;
    display: flex;
    overflow: hidden;
    // background: radial-gradient(600px at 1212px 279px, rgba(29, 78, 216, 0.15), transparent 80%);
    aside {
        width: 40%;
    }
    main {
        width: 60%;
    }


}

.scrollable-col {
    overflow-y: auto;
    height: 100vh;
}
.scroll-content {
    height: auto;
}

